<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meomulm.product.model.mapper.ProductMapper">

    <!-- 숙소별 객실 기본 조회 -->
    <select id="selectProductsByAccommodationId" resultType="Product">
        SELECT *
        FROM product
        WHERE accommodation_id = #{accommodationId}
        ORDER BY product_id
    </select>

    <!-- 객실 시설 조회 -->
    <select id="selectProductFacilityByProductId" resultType="ProductFacility">
        SELECT *
        FROM product_facility
        WHERE product_id = #{productId}
    </select>

    <!-- 객실 이미지 조회 -->
    <select id="selectProductImagesByProductId" resultType="ProductImage">
        SELECT *
        FROM product_image
        WHERE product_id = #{productId}
        ORDER BY product_image_id
    </select>

    <!-- 예약 가능한 객실 ID만 조회 -->
    <select id="selectAvailableProductId" resultType="java.lang.Integer">
        SELECT p.product_id
        FROM product p
                 LEFT JOIN reservation r
                           ON r.product_id = p.product_id
            <![CDATA[
                               AND r.check_out_date > #{checkInDate}
                               AND r.check_in_date < #{checkOutDate}
            ]]>
            AND r.status IN ('NOT_PAID', 'PAID')
        WHERE p.accommodation_id = #{accommodationId}
          AND p.product_maximum_number >= #{guestCount}
        GROUP BY p.product_id, p.product_count
        <![CDATA[
        HAVING COUNT(r.reservation_id) < p.product_count
        ]]>
        ORDER BY p.product_id
    </select>

</mapper>