<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meomulm.user.model.mapper.UserMapper">


    <select id="selectTodayBirthdayList" resultType="User">
        SELECT
            user_id,
            user_name,
            user_birth
        FROM users
        WHERE
            /* user_birth가 'YYYY-MM-DD' 문자열일 때 월-일(MM-DD)만 추출하여 비교 */
            RIGHT(user_birth, 5) = TO_CHAR(CURRENT_DATE, 'MM-DD')
    </select>


    <!--==========================
                MyPage
    ===========================-->
    <!-- 회원정보 조회 -->
    <select id="selectUserInfoById" resultType="User">
        SELECT *
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- 회원정보 수정 -->
    <update id="updateUserInfo">
        UPDATE users
        SET user_name = #{userName},
            user_phone = #{userPhone}
        WHERE user_id = #{currentUserId}
    </update>

    <!-- 회원 예약 내역 조회 -->
    <select id="selectUserReservationById" resultType="MyReservationResponse">
        SELECT *
        FROM vw_mypage_reservation
        WHERE user_id = #{userId}
    </select>

    <!-- 프로필 사진 수정 -->
    <update id="updateProfileImage">
        UPDATE users
        SET user_profile_image = #{userProfileImage}
        WHERE user_id = #{userId}
    </update>

    <!-- 현재 비밀번호 확인 -->
    <select id="selectCurrentPassword" resultType="String">
        SELECT user_password
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- 비밀번호 수정 -->
    <update id="updateMyPagePassword" parameterType="User">
        UPDATE users
        SET user_password = #{userPassword}
        WHERE user_id = #{userId}
    </update>

    <!-- 회원정보 삭제 -->
    <delete id="deleteUser">
        DELETE from users
        WHERE user_id = #{userId}
    </delete>

    <!--==========================
            Signup / Login
    ===========================-->
    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO users(user_email, user_password, user_name, user_phone, user_birth)
        VALUES(#{userEmail}, #{userPassword}, #{userName}, #{userPhone}, #{userBirth})
    </insert>

    <!-- 로그인 -->
    <select id="selectUserLogin" resultType="User">
        SELECT *
        FROM users
        WHERE user_email = #{userEmail}
    </select>

    <!-- 아이디(이메일) 찾기 -->
    <select id="selectUserFindId">
        SELECT user_email
        FROM users
        WHERE user_name = #{userName}
          AND user_phone = #{userPhone}
    </select>

    <!-- 비밀번호 찾기(인증) -->
    <select id="selectUserFindPassword">
        SELECT *
        FROM users
        WHERE user_email = #{userEmail}
          AND user_birth = #{userBirth}
    </select>

    <!-- 비밀번호 찾기(변경) -->
    <update id="updateUserPassword">
        UPDATE users
        SET user_password = #{userPassword}
        WHERE user_id = #{userId}
    </update>

    <!-- 이메일 조회 -->
    <select id="selectUserByUserEmail" resultType="User">
        SELECT *
        FROM users
        WHERE user_email = #{userEmail}
    </select>

    <!-- 전화번호 조회 -->
    <select id="selectUserByUserPhone" resultType="User">
        SELECT *
        FROM users
        WHERE user_phone = #{userPhone}
    </select>

    <!-- 이메일 중복 체크 -->
    <select id="existsByUserEmail" resultType="int">
        SELECT COUNT(1)
        FROM users
        WHERE user_email = #{userEmail}
    </select>

    <!-- 전화번호 중복 체크 -->
    <select id="existsByUserPhone" resultType="int">
        SELECT COUNT(1)
        FROM users
        WHERE user_phone = #{userPhone}
    </select>

</mapper>